[submodule "work_farm"]
	path = work_farm
	url = ../work_farm.git
[submodule "nanhu-g/software/opensbi"]
	path = nanhu-g/software/opensbi
	url = ../../ICT-SERVE-FARM/opensbi.git
[submodule "nanhu-g/software/xdma"]
	path = nanhu-g/software/xdma
	url = ../dma_ip_drivers.git
[submodule "nanhu-g/hardware/xs-gen"]
	path = nanhu-g/hardware/xs-gen
	url = ../xiangshan.git
